.carousel-wrapper {
  margin: 3rem auto !important;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.carousel-product-heading {
  text-align: left;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

.carousel {
  width: 100%;
  position: relative;
}

.product-wrapper {
  width: 90%;
  height: 90%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.product-wrapper:hover {
  border: 1px solid #3a6be8;
}

.product-wrapper > p {
  font-size: 0.8rem;
}

.product-wrapper > img {
  margin: 5px auto;
  height: 60%;
}

.button-back {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(0, -50%);
}

.button-next {
  position: absolute;
  top: 50%;
  right: -2%;
  transform: translate(0, -50%);
}

.button {
  background: lightgrey;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button:hover {
  background: lightgrey;
}

.button > img {
  margin: 0;
}
