img {
  height: 20px;
}

.navbar {
  position: relative;
}

.upper-navbar {
  background: #4c4f50;
}

.container {
  width: 85%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location {
  margin: 10px;
}

.upper-nav {
  margin: auto 1rem;
}

.upper-nav-left > a {
  color: white;
  margin: 1rem;
  font-family: "MontReg";
}

.profile {
  height: 25px;
}

.upper-nav-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upper-nav-right > img {
  margin: 0.5rem;
}

.upper-nav-right > span {
  display: flex;
  align-items: center;
  margin: auto 1rem;
  color: white;
  font-family: "MontReg";
}

.lower-container {
  padding: 0.5rem auto;
}

.lower-navbar {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.lower-navbar-clicked {
  box-shadow: none;
  border-bottom: 1px solid lightgrey;
}

.lower-left > img {
  margin-bottom: 0;
  height: 40px;
}

.lower-left > input {
  border: none;
  outline: none;
  background: lightgrey;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 150px;
}

.lower-navbar > .container > div {
  justify-content: space-around;
}

.lower-left {
  width: 60%;
}

.left-right {
  width: 30%;
}

button {
  width: 100px;
  margin: 0;
  border-radius: 5px;
}

.lower-right-icons > span {
  display: flex;
  align-items: center;
  margin: auto 1rem;
  color: black;
  font-family: "MontReg";
  font-size: 1rem;
}

.lower-right-icons > img {
  margin: 10px auto;
}

.lower-right-icons > span > img {
  margin-bottom: 0;
  margin-right: 10px;
}

.cart-image {
  margin-bottom: 0;
}

.left-right {
  justify-content: flex-end;
}

.menu-icon {
  display: none;
}

.menu-icon > img {
  height: 30px;
  margin: 5px 20px;
  /* margin-top: 10px; */
}

.icon-menu {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.hidden {
  position: absolute;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  width: 100%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.show {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 2;
  width: 100%;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.list-res {
  list-style: none;
  width: 100%;
}

.list-item-flex {
  justify-content: center;
}

.list-item-flex > img {
  margin-right: 10px;
  margin-bottom: 0;
}

li > span {
  font-family: "MontBold";
  color: black;
}

li {
  font-family: "MontBold";
  font-size: 1.2rem;
  padding: 20px 1.5rem;
  text-align: center;
  width: 100%;
}

li > a {
  color: black;
  font-size: 1.2rem;
  font-family: "MontBold";
}

@media (max-width: 768px) {
  .upper-navbar {
    display: none;
  }
  .container {
    width: 90%;
  }
  .lower-left {
    width: 50%;
  }
  .left-right {
    display: none;
  }

  .lower-container {
    justify-content: space-around;
  }

  .menu-icon {
    display: inline-block;
  }
}
